In [14]:
import pandas as pd
#from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

In [6]:
#load data
data = pd.read_csv("diabetes.csv")

In [7]:
#explore
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
y=data.Outcome
use_features=['Glucose','BloodPressure','Insulin','Age']
x=data[use_features]

In [13]:
x.describe()

          Glucose  BloodPressure     Insulin         Age
count  768.000000     768.000000  768.000000  768.000000
mean   120.894531      69.105469   79.799479   33.240885
std     31.972618      19.355807  115.244002   11.760232
min      0.000000       0.000000    0.000000   21.000000
25%     99.000000      62.000000    0.000000   24.000000
50%    117.000000      72.000000   30.500000   29.000000
75%    140.250000      80.000000  127.250000   41.000000
max    199.000000     122.000000  846.000000   81.000000

In [15]:
pima_model=DecisionTreeRegressor(random_state=1)
pima_model.fit(x,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [17]:
print("predictions are ")
print(pima_model.predict(x.head()))

predictions are
[1. 0. 1. 0. 1.]